* {
    box-sizing: border-box;
}

html {
    font-family: "League Spartan";

}

body {
    margin: auto;
}

#mySidenav {
    left: 0px;
    position: fixed;
    top: 15%;
    width: 18%;
    bottom: auto;
}

#mySidenav a {
    position: absolute;
    left: -170px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#uno {
    top: 20px;
    background-color: #4CAF50;
}

#due {
    top:80px;
    background-color: #2196F3;
}

#tre {
    top: 140px;
    background-color: #f44336;
}

#quattro {
    top: 200px;
    background-color: #555
}

#cinque {
    top:260px;
    background-color: #6666ff;
}

#sei {
    top:320px;
    background-color: #003300;
}

#sette {
    top:380px;
    background-color: #ff9933;

}



#cercaPerNome {
    background-image: url('/assets/images/icona-ricerca.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 1300px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-top: 75px;
    height: auto;
}

#tabella {
    border-collapse: collapse;
    width: 1300px;
    margin:auto;
    border: 1px solid #ddd;
    font-size: 18px;
}

#tabella th, #tabella td {
    text-align: left;
    padding: 12px;

}

#tabella tr {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

#tabella tr.header, #tabella tr:hover {
    background-color: #f1f1f1;
}

#footer{
    width: 1364px;
    height: 50px;
    border-top: #818181 solid thin;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 15px;
    background-color: white;
    color: silver;
    font-size: 11px;
    font-family:"Lucida Grande";
    margin-left: 38px;
}



.elencoFarmacie {
    margin:48px auto;
    width: 700px;
    height: 100%;
    font-size: 18px;
    border: 3px #4CAF50 solid;
    border-bottom: none;
    padding-top: 60px;
    box-shadow: 0 0 25px #4CAF50;

}

.head {
    top:0;
    width: 1364px;
    text-align: right;
    border-bottom: #818181 solid thin;
    margin-left: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    background-color: white;
}

ul {
    list-style-type: none;
}
.nome{
    color: #2c72af;
    font-weight: bold;
}

li {
    list-style-type: none;
}

article {
    margin-top:48px;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    border: 3px #4CAF50 solid;
    border-radius: 5px;
    box-shadow: 0 0 25px #4CAF50;
    height: 83%;
}

form.login{
    max-width: 500px;				/*larghezza form*/
    padding: 1rem;						/*creo spazio attorno al contenuto*/
    border: 3px #4CAF50 solid;			/*aggiungo il bordo color binacastro*/
    margin: 8em auto;					/*centro i margini*/
    text-align: center;					/*centro il contenuto*/
    border-radius: 5px;
    box-shadow: 0 0 25px #4CAF50;
}

form.login h1{
    font-family:"League Spartan";
    margin:1em auto;
}

form.login input {
    margin: auto;
}

input[type=text],input[type=password]{
    font-family:"Lucida Grande";
    color:#5c6f56;
    /*padding:12px 200px 12px 18px;*/
    border:1px solid rgba(0,0,0,0.12);
    height: 30px;
    width: 250px;
    display: block;
    background:white;
    margin: auto;
}

input[type="submit"]{
    font-family:"League Spartan";
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
    border: none;		/*testarlo*/
    color:white;
    padding:12px 18px 8px 18px;
    background:#4CAF50;
    border-radius: 5px;
}

.submitFarm{
    font-family:"League Spartan";
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:white;
    padding:auto;
    margin:auto;	/*testarlo**/
    background:#5c6f56;
    border-radius: 5px;
    width: 25%;
}

.attiva {
    text-align: left;
    margin-top: 60px;
}

input {
    border-radius: 5px;
}



h2,h3 {
    text-align: center;
}

.bentornato {
    text-align: center;
    margin-top: 270px;
}

p {
    margin-bottom: 1.5em;
}

label {
    margin-left: 25px;
}

.left {
    width: 50%;
    float:left;
}
.right {
    width: 50%;
    float:left;
}

.attiva input[type="submit"] {
    text-align: center;
    margin-left: 392.3915px;
}

#contenitore-messaggio {
    margin-top: 120px;
    margin-left: 200px;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(102, 175, 233, 0.6);
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}